<html>
<head>
 <title> Employee Salary Prediction</title>
</head>   
<body>

    <form action='/predict' method ="post">
    <label> Experience: </lable>
    <input type='text' name='experience' value='0'></br>
    <label> Test Score:</lable>
    <input type='text' name='test_score' value='0'></br>
    <label> Interview Score:</lable>
    <input type='text' name='interview_score' value='0'></br>
    </br>
    </br>
    </br>

    <input type='submit' value='predict'>

    <br>
    <br>

    {{prediction_text}}

    </form>




</body>



</html>